@model Archery.Models.Archer

@{
    ViewBag.Title = "Inscription";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}

<h2>Nouveau tireur</h2>


@*<form role="form" method="post">*@

@using (Html.BeginForm())
{
  
}

